# GitHub CI build pipeline
name: Awesome Calculator CI build

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
    - name: Install dependencies
      run: |
        cd src
        python -m pip install --upgrade pip
        pip install coverage
        if  [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Run Unit Tests and generate coverage report
      run: |
        cd src
        python -m unittest -v
        coverage run -m unittest
        coverage report
        coverage html
    - name: Archive code coverage html report
      uses: actions/upload-artifact@v4
      with:
        name: code-coverage-report
        path: src/htmlcov
    - name: Run package creation
      run: |
        cd src
        python -m pip install --user --upgrade build
        python -m build
    - name: Archive package
      uses: actions/upload-artifact@v4
      with:
        name: awesome-calculator
        path: src/dist/*.whl  
  install:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Set up python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Download wheel atrifact
        uses: actions/download-artifact@v4
        with:
          name: awesome-calculator
          path: dist

      - name: Show downloaded files
        run: ls -la dist

      - name: Install wheel
        run: |
          python -m pip install --upgrade pip
          pip install dist/*.whl

      - name: Verify installation
        run: |
          python -c "import awesome_calculator; print('Awesome Calculator version:', awesome_calculator.__version__)"


